<section class="header container">
 <img src="{{ asset('img/pg_poziome_logo_kolor.png') }}"alt="" height=150 ></img> 
</section>
<nav class="navbar navbar-dark">
<div class="container">
        <div class='col-9'>
        <a class="navbar-brand" href="#">STRONA GŁÓWNA </a>
        <a class="navbar-brand" href="#">PRACOWNICY</a>
        <a class="navbar-brand" href="#">BIZNES</a>
        <a class="navbar-brand" href="#">UCZELNIA</a>
        <a class="navbar-brand" href="#">AKTUALNOŚCI</a>
        </div>
        <div class=' card col-3'>
        <div class="card-body">
        This is some text within a card body.
        </div>
        </div>
</div>
</nav>