<div id="table">
    
{% if stationInfo %}
    <ul>
            <li>Station ID: {{ stationInfo.id }}</li>
            <li>Date of last update: {{ stationInfo.stCalcDate}}</li>
            <li>Quality of the air: {{ stationInfo.stIndexLevel.indexLevelName }}</li>
    </ul>
{% else %}
    <p> No data yet </p>
{% endif %}

</div>