body {
  background-color: white;
}
.header {
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #011647;
  color: white;
  text-align: center;
}
nav {
  background-color: #002d70;
  color: white;
}

.container {
  max-width: 1004px;
}
