{% extends 'base.html.twig' %}


{% block body %}

<main class="container">
  <div class="row">    
    <div>
    <form >
        <select id='station'>
        {% for el in content %}
            <option value = {{el.id}}>{{ el.stationName}} </option>
        {% endfor %}
        </select>
    </form>

    </div>
  </div>
</main>

{% endblock %}