{% extends 'base.html.twig' %}


{% block body %}

<main class="container">
  <div id="findAll" data-findall='{{content}}'></div>
  <div class="row">    
    <div class'dropdown-container'>
    
        {# <select id='station'>
        {% for el in content %}
            <option value="{{el.id}}">{{ el.stationName}} </option>
        {% endfor %}
        </select> #}
        <select name="station" class="form-select mt-3" id='station' aria-label="Default select example"></select>
    
    </div>
  </div>
   {% include 'home/_data_loop.html.twig' %}
</main>

{% endblock %}